.banner{
    height: 480px;
    width: 100%;

}


.banner-box{
    height: 480px;
    width: 1250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    .lunbo-box{
       position: absolute;
       margin: 0 auto;
       
       .lunbo{
           float:left; 
           overflow: hidden;
           height: 480px;
           width: 1250px;
           
        }
       
    }
}

.list-body{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    position: relative;
   .title{
        width: 100%;
        height: auto;
        overflow: hidden;
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;      
        text-shadow: 0 2px 1px #fff;
        position: relative;
        
        span{
            font-size: 20px;
            color: rgb(254, 100, 0);
            
        }
        div{
            span{
                    background: #000;
                    color: #fff;
                    font-size: 18px;
                    padding: 5px;
                    margin-right: 10px;
                    border-radius: 5px;
                    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
                    text-shadow: 0 2px 1px #000;
                    line-height: 49px;
                    font-weight: 400;
            }
        }
   } 
    .com{    
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 14px;
        li{
            width: 300px;
            float: left;
            margin-right: 7px;
            a{
                display: block;
                color: #555;
            }
            a:hover{
                
            }
            img{
                width: 100%;
            }
            span{
                color: #e46714;
                font-size: 18px;
                
            }
            del{
                font-size: 13px;
            }
            p{
                margin: 10px 0;
            }
            b{
                float: right;
                font-size: 14px;
                line-height: 22px;
                background: #fe6400;
                color: #fff;
                width: 80px;
                text-align: center; 
                font-weight: 100;                             
            }
        }
        
        
    }
     .com2{
            width: 100%;
            
            overflow: hidden;
            li{
                float: left;
                margin-right: 15px;
                a{
                    display: block;
                }
            }
        } 
          
    .like{
        li{
            
            margin-right: 20px;
        }
        li:nth-child(2),li:nth-child(3){
            margin-bottom: 15px;
        }
    }

}
